@import "../utils/mixins";
@import "../utils/variables";

.footer {
  background: $color-footer;
  padding-bottom: 20px;
  &__heading {
    font-family: $font-title;
    color: darken($color-bkg-dark, 5%);
    padding:40px;
    margin-top: 0;
  }
  &__menu {
    list-style-type: none;
    padding-left: 40px;
    font-weight: bold;
    font-size: 1.4rem;
    a {
      text-decoration: none;
      color: darken($color-bkg-dark, 10%);
      &:hover {
        color: $primary-purple;
      }
    }
    li{
      margin-bottom: 30px;
    }
  }
  &__icon {
    margin-right: 30px;
    width: 3%;
    color: darken($color-bkg-dark, 5%);
  }
}