@import "../utils/mixins";
@import "../utils/variables";

header {
  text-align: center;
  @include box-shadow($color-bkg-light);
  img {
    width: 45%;
    padding: 35px;
  }
  i{
    color: darken($color-bkg-dark, 70%);
    font-size: 4em;
    position: absolute;
    top: 2.5vh;
    left: 8%;
  }
}