@import "../utils/mixins";

body {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  font-size: 0.9em;
  @include text;
}

h1 {
  font-size: 3.6em;
  margin: 0;
}

h2 {
  font-size: 2.4em;
  margin: 0;
}
h3 {
  font-size: 1.2em;
}